div{
	box-sizing: border-box;
}

html,
body {
	width:100%;
	background-color: black;
	font-family: monospace;
	font-size: 16px;
	color: white;
	margin: 0px;
}

#gameFlow {
	float:left;
	width: calc(100% - 5px);
}


header {
	text-align: center;
	margin: 20px;
}

#rowTextMessage {
	margin: 10px;
	border: 1px solid white;
	padding: 5px;
}


